
div {
    /* width: 600px; */


}
.main-container {
   
    
    
}

.navbar {
    background-color: rgb(204, 65, 65);
    width: 560px;
    height: 60px;
    display:block;
    position: absolute;
    right: 100px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    list-style-type: none;
    
    
}
.blog {
    position: absolute;
    display: inline;
    right: 30px;
    top: 20px;
    bottom: 10px;

}
.contact {
    position: absolute;
    display: inline;
    right: 90px;
    top: 20px;
    bottom: 10px;

}
.about {
    position: absolute;
    display: inline;
    right: 170px;
    top: 20px;
    bottom: 10px;

}

.home {
    position: absolute;
    display: inline;
    right: 240px;
    top: 20px;
    bottom: 10px;

}

.slika img {

    max-width: 600px;
    display: block;
    width: 600px;
    height:380px;
    position: relative;
    top: 80px;
    left:81.5px;
    display: flex;
    flex-direction: ; 
}
.container {
    position: relative;
    top: 90px;
    left:81.5px;
    max-width: 1000px;
    justify-content:
    display: flex;
    flex-wrap:wrap;
    flex-direction:
    align-items: center;
    nowrap:

}
.cont-item1 {
    width: 300px;
    display: inline-block;
    display: flex;
    flex-wrap:wrap;
    
    
    
}

.box1 {
    position: relative;
    background-color: brown;
    width: 250px;
    height: 150px;
}
    
.num1 {
    color: aliceblue;
    position: relative;
    top: 75px;
    left: 85px;
}

.cont-item2 {
    width: 300px;
    display: inline;
}


.box2 {
    position: relative;
    background-color:darkcyan;
    width: 250px;
    height: 150px;
 
}
    

.num2 {
    color: aliceblue;
    position: relative;
    top: 75px;
    left: 85px;
}
.cont-item3 {
    width: 300px;
    display: inline-block;
}

.box3 {
    position: relative;
    background-color: yellow;
    width: 250px;
    height: 150px;
    
}
.num3 {
    color: aliceblue;
    position: relative;
    top: 75px;
    left: 85px;
}
.cont-item4 {
    width: 300px;
    display: inline-block;
}
.box4 {
    position: relative;
    background-color: greenyellow;
    width: 250px;
    height: 150px;
    
}
.num4 {
    color: aliceblue;
    position: relative;
    top: 75px;
    left: 85px;
}

.cont-item5 {
    width: 300px;
    display: inline-block;
}
.box5 {
    position: relative;
    background-color: brown;
    width: 250px;
    height: 150px;
    
}


.num5 {
    color: aliceblue;
    position: relative;
    top: 75px;
    left: 85px;
}

.cont-item6 {
    width: 300px;
    display: inline-block;
}

.box6 {
    position: relative;
    background-color:darkcyan;
    width: 250px;
    height: 150px;
    
}
.num6 {
    color: aliceblue;
    position: relative;
    top: 75px;
    left: 85px;
}

.cont-item7 {
    width: 300px;
    display: inline-block;
}

.box7 {
    position: relative;
    background-color: yellow;
    width: 250px;
    height: 150px;
    
}
.num7 {
    color: aliceblue;
    position: relative;
    top: 75px;
    left: 85px;
}

.cont-item8 {
    width: 300px;
    display: inline-block;
}
.box8 {
    position: relative;
    background-color:greenyellow;
    width: 250px;
    height: 150px;
    
}
.num8 {
    color: aliceblue;
    position: relative;
    top: 75px;
    left: 85px;
}
