
body {
    width: 600px;
}
div {
    width: 200px;
    height: 200px;
}
.red   {
    width: 200px;
    height: 200px;
    background-color: brown;
    
}
.yellow {
    width: 200px;
    height: 200px;
    background-color: rgb(159, 122, 21);
}
.blue {
    width: 200px;
    height: 200px;
    background-color: rgb(28, 53, 65);
     
}


.leftred {
    width: 200px;
    height: 200px;
    position: relative;
    top:10px;
    left: 0px;
    bottom: -50px;
    z-index: 0;
    background-color: brown;

}

.indentedyellow {

    width: 200px;
    height: 200px;
    position: relative;
    top:-90px;
    left:100px;
    bottom: 10px;
    background-color: rgb(159, 122, 21);
    z-index: inherit;
}

.rightblue {
    position: relative;
    top:-190px;
    left:190px;
    bottom: 100px;
    background-color: rgb(28, 53, 65);
    z-index: 2;
}

.trojkared {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 1250px;
    right:  1000px;
    bottom: 50px;
    z-index: 2;
    background-color: brown;

}

.trojkayellow {

    width: 200px;
    height: 200px;
    position: absolute;
    top: 1350px;
    right:1090px;
    bottom: 10px;
    background-color: rgb(159, 122, 21);
    z-index:1;
}

.trojkablue {
    position: absolute;
    top:1450px;
    right:1200px;
    bottom: 50px;
    background-color: rgb(28, 53, 65);
    z-index: 0;
}